$xlarge: 2em;
$large: 1.5em;
$med: 1.25em;
$small: 1em;
$minWidth: 20em;

.first-page {
	height: 100vh;
	min-height: 25em;
	display: relative;
	border: white solid 1px;
}

.second-page {
	border-top: black solid 1px;
	height: 100vh;
	font-size: $med;
}

body {
	font-family: "Lato", sans-serif;
	margin: 0;
	overflow-x: hidden;

	a:hover {
		color: #95BBAC;
	}

	a {
		text-decoration: none;
		color: black;
	}

	h1 {
		font-size: $xlarge;
		margin: 2em auto;
		display: relative;
		width: 4.7em;
	}

	.header {
		background-color: white;
		height: 17em;
		position: fixed;
		width: 100%;
		z-index: 1000;
		.name{
			position: relative;
			width: 30em;
			margin: 0 auto;
			padding-top: 3em;

			img {
				width: 30em;
			}
		}

		.nav {
			position: relative;
			margin: 0 auto;
			margin-top: 2em;
			width: 16.5em;
			font-size: $med;
			padding-bottom: 2.0em;
			
			div {
				position: relative;
				display: inline-block;
				margin: 0 1em;
			}
		}
	}
	.about {
		position: relative;
		margin: 0 auto;
		margin-top: 20em;
		width: 60em;
		
		img {
			width: 11em;
		}
		.display-pic{
			height: 11em;
			width: 11em;
			border-radius: 11em;
			overflow: hidden;
			position: relative;
			display: inline-block;
			margin-right: 5em;
		}
		.description{
			position: relative;
			display: inline-block;
			vertical-align: top;
			font-size: $large;
			width: 70%;
		}
	}
	.down-arrow{
		position: relative;
		margin: 0 auto;
		margin-top: 15vh;
		width: 2em;
		i {
			font-size: $xlarge;
		}	
	}

	.skills {
		position: relative;
		width: 30em;
		margin: 0 auto;
		.skill-name {
			position: relative;
			display: inline-block;
			vertical-align: top;
		}
		.skill-percentage {
			position: relative;
			display: inline-block;
			margin-left: 6em;
			margin-top: 0.4em;
			.total-percentage {
				border: black solid 1px;
				height: 0.3em;
				width: 17em;
				margin-bottom: 0.8em;
				div {
					position: relative;
					height: 0.3em;
					background-color: grey;
				}
			}
		}
	}

	.projects {
		height: 100vh;
	}

	.contact {
		height: 100vh;
	}
}