$xxlarge: 3em;
$xlarge: 2em;
$large: 1.5em;
$med: 1.25em;
$small: 1.05em;
$xsmall: 0.95em;
$xxsmall: 0.85em;
$minWidth: 30em;
$theme: #535a6c;

.first-page {
	height: 100vh;
	min-height: 25em;
	display: relative;
	border: $theme solid 1px;
	background-color: $theme;
	color: white;
	overflow: hidden;
}

.second-page {
	font-size: $med;
}

.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

body {
	font-family: "Lato", sans-serif;
	margin: 0;
	overflow-x: hidden;
	color: #333333;

	a:hover {
		color: #E6E6E6;
	}

	a {
		text-decoration: none;
		color: white;
	}

	h1 {
		font-size: $xxlarge;
		display: relative;
		text-align: center;
		margin: 0 0;
	}

	hr {
		background-color: $theme;
		height: 0.1em;
		margin-top: 7em;
		margin-bottom: 7em;
	}

	.header {
		background-color: rgba(83,90,108, 0.95);
		position: fixed;
		width: 100%;
		z-index: 1000;
		height: 5em;
		.header-content {
			position: relative;
			width: 85%;
			min-width: $minWidth;
			margin: 0 auto;
			margin-top: 2em;
			.name{
				position: absolute;
				top: 0;
				left: 0;
				color: white;
			}

			.nav {
				position: absolute;
				top: 0;
				right: 0;
				font-size: $small;
				div {
					position: relative;
					display: inline-block;
					margin: 0 1em;
				}
			}
		}
	}
	.title {
		position: relative;
		width: 60em;
		margin: 0 auto;
		margin-top: 6.5em;
		.intro {
			position: absolute;
			font-size: $large;
			// border: 1px black solid;
			top: 4.35em;
			left: 9em;
			width: 25em;
			span {
				line-height: 1.46em;
				// border: 1px black solid;
			}
			.inner-function {
				position: relative;
				max-width: 60%;
				margin-left: 2em;
				// border: 1px black solid;
			}
			.pink {
				color: #aa3f69;
			}
			.yellow {
				color: #e6d77a;
			}
			.orange {
				color: #e2813b;
			}
			.blue {
				color: #81d7ec;
			}
			.green {
				color: #b6d533;
			}
		}
		img {
			width: 60em;
		}
	}

	.about {
		position: relative;
		margin: 0 auto;
		margin-top: 5em;
		width: 30vw;
		min-width: $minWidth;
		.display-pic{
			height: 8em;
			width: 8em;
			border-radius: 8em;
			overflow: hidden;
			position: relative;
			margin: 0 auto;
			img {
				width: 8em;
			}
		}
		.description{
			position: relative;
			display: inline-block;
			vertical-align: top;
			font-size: $xsmall;
			margin: 0 auto;
			margin-top: 2em;
			text-align: center;
		}
		.dot-divider {
			position: relative;
			margin: 6em auto;
			color: rgba(83,90,108, 0.15);
			width: 5.4em;
			letter-spacing: 0.2em;
			font-size: $xxsmall;
		}
	}

	.toolbox {
		position: relative;
		margin: 0 auto;
		margin-bottom: 3em;
		width: 40em;
		min-width: $minWidth;
		.toolbox-icon {
			position: relative;
			margin: 0 auto;
			width: 6em;
			img {
				width: 6em;
			}
		}
		
		
		.skills {
			position: relative;
			width: 18em;
			margin: 3em 0.9em;
			display: inline-block;
			.skill-name {
				position: relative;
				display: inline-block;
				vertical-align: top;
				font-size: $xxsmall;
			}
			.skill-percentage {
				position: relative;
				display: inline-block;
				margin-left: 2em;
				margin-top: 0.4em;
				.total-percentage {
					height: 0.3em;
					width: 10em;
					margin-bottom: 0.75em;
					div {
						position: relative;
						height: 0.3em;
					}
				}
			}
		}
	}

	.project-intro {
		margin-top: 7em;
		p {
			position: relative;
			font-size: $large;
			width: 30em;
			text-align: center;
			margin: 0.5em auto;
		}
	}

	.projects {
		position: relative;
		width: 71em;
		margin: 2em auto;
	}

	.project-detail {
		width: 40em;
		margin: 9em auto;
		img {
			width: 30em;
		}
		div {
			text-align: center;
		}
		.project-content {
			position: relative;
			margin: 0 auto;
			.project-title {
				font-size: $xlarge;
				margin-top: 1em;
				margin-bottom: 1em;
			}
			.project-describe {
				font-size: $small;
				margin-top: 1em;
			}
			.project-tech {
				margin-top: 1em;
				div {
					position: relative;
					display: inline-block;
					margin: 0 0.2em;
					i {
						font-size: $xxlarge;
						margin-left: 0.25em;
						margin-right: 0.25em;
					}
				}
			}
			.project-button {
				margin-top: 4em;
				div {
					position: relative;
					display: inline-block;
					background-color: #333333;
					width: 8em;
					height: 2em;
					font-size: $med;
					color: white;
					vertical-align: middle;
					line-height: 2em;
					margin: 0 0.5em;
				}
			}
		}
	}

	.contact {
		position: relative;
		width: 50em;
		margin: 0 auto;
		margin-top: 7em;
		form {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			input {
				position: absolute;
				left: 1em;
				top: 4.15em;
				font-size: 2.5em;
				border: none;
				outline: none;
				padding-left: 3.25em;
				width: 14em;
				background-color: transparent;
				color: #333333;
			}
			textarea {
				position: absolute;
				left: 0;
				top: 11.5em;
				bottom: 0;
				width: 34.8em;
				padding: 1.5em 2.5em;
				font-size: $med;
				background-color: transparent;
				resize: none;
				border: none;
				outline: none;
				color: #333333;
			}
		}
	}

	.footer{
		position: relative;
		background-color: rgba(83,90,108, 0.95);
		height: 2em;
		padding: 1em 0;
		margin-top: -4em;
		.footer-container {
			position: relative;
			width: 80vw;
			margin: 0 auto;
			.links {
				position: absolute;
				width: 7em;
				div {
					position: relative;
					display: inline-block;
					background-color: white;
					border-radius: 2em;
					width: 2em;
					height: 2em;
					text-align: center;
					vertical-align: middle;
					line-height: 2em;
					margin-right: 0.2em;
					i {
						color: $theme;
					}
				}
			}
			.copyright {
				position: absolute;
				vertical-align: middle;
				line-height: 2em;
				right: 0;
				top: 0;
				color: white;
			}
		}
	}
}