.first-page {
  height: 100vh;
  min-height: 25em;
  display: relative;
  border: white solid 1px; }

.second-page {
  border-top: black solid 1px;
  height: 100vh;
  font-size: 1.25em; }

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  overflow-x: hidden; }
  body a:hover {
    color: #95BBAC; }
  body a {
    text-decoration: none;
    color: black; }
  body h1 {
    font-size: 2em;
    margin: 2em auto;
    display: relative;
    width: 4.7em; }
  body .header {
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 1000;
    height: 5em; }
    body .header .header-content {
      position: relative;
      width: 85%;
      min-width: 30em;
      margin: 0 auto;
      margin-top: 2em; }
      body .header .header-content .name {
        position: absolute;
        top: 0;
        left: 0; }
      body .header .header-content .nav {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.05em; }
        body .header .header-content .nav div {
          position: relative;
          display: inline-block;
          margin: 0 1em; }
  body .about {
    position: relative;
    margin: 0 auto;
    margin-top: 20em;
    width: 60em; }
    body .about img {
      width: 11em; }
    body .about .display-pic {
      height: 11em;
      width: 11em;
      border-radius: 11em;
      overflow: hidden;
      position: relative;
      display: inline-block;
      margin-right: 5em; }
    body .about .description {
      position: relative;
      display: inline-block;
      vertical-align: top;
      font-size: 1.25em;
      width: 70%; }
  body .down-arrow {
    position: relative;
    margin: 0 auto;
    margin-top: 15vh;
    width: 2em; }
    body .down-arrow i {
      font-size: 2em; }
  body .skills {
    position: relative;
    width: 30em;
    margin: 0 auto; }
    body .skills .skill-name {
      position: relative;
      display: inline-block;
      vertical-align: top; }
    body .skills .skill-percentage {
      position: relative;
      display: inline-block;
      margin-left: 6em;
      margin-top: 0.4em; }
      body .skills .skill-percentage .total-percentage {
        border: black solid 1px;
        height: 0.3em;
        width: 17em;
        margin-bottom: 0.8em; }
        body .skills .skill-percentage .total-percentage div {
          position: relative;
          height: 0.3em;
          background-color: grey; }
  body .projects {
    position: relative;
    width: 73.5em;
    margin: 0 auto;
    margin-top: 20em; }
    body .projects .project {
      position: relative;
      display: inline-block;
      margin: 0 0.5em; }
      body .projects .project img {
        height: 11em;
        border: #e2e2e2 solid 0.05em;
        border-top-left-radius: 0.2em;
        border-top-right-radius: 0.2em;
        margin-bottom: -0.5em;
        display: block; }
      body .projects .project .project-preview {
        position: relative;
        font-size: 1.05em;
        margin-top: -1.3em;
        background: rgba(255, 255, 255, 0.85);
        height: 1.3em; }
        body .projects .project .project-preview span {
          position: absolute;
          left: 1em;
          top: 0; }
        body .projects .project .project-preview div {
          position: absolute;
          display: inline-block;
          right: 1em;
          top: 0; }
  body .more-projects {
    position: relative;
    margin: 0 auto;
    height: 3em;
    width: 8em;
    font-size: 1.25em;
    text-align: center;
    vertical-align: middle;
    line-height: 3em;
    border: black solid 0.1em;
    margin-top: 3em; }
  body .project-detail img {
    width: 30em; }
  body .contact {
    height: 100vh; }
  body .footer {
    position: relative;
    height: 6em;
    width: 80vw;
    margin: 0 auto; }
    body .footer .links {
      position: absolute;
      width: 7em; }
      body .footer .links div {
        position: relative;
        display: inline-block;
        background-color: black;
        border-radius: 2em;
        width: 2em;
        height: 2em;
        text-align: center;
        vertical-align: middle;
        line-height: 2em;
        margin-right: 0.2em; }
        body .footer .links div i {
          color: white; }
    body .footer .copyright {
      position: absolute;
      vertical-align: middle;
      line-height: 2em;
      right: 0;
      top: 0; }

/*# sourceMappingURL=styles.css.map */
