<div class="project-container">	
	<div class="first-page">
		<div class="project-intro">
			<h1>Projects</h1>
			<p>Here is a selection of my proudest work. You can take a peek at all of my projects by visiting me on Github!</p>
		</div>
		<div class="projects">
			<img src="/../../asset/projects.png"/>
		</div>
	</div>

	<div class="project-detail">
		<div class="project-content" ng-repeat="project in ProjectsVm.projects">
			<div>
				<img src="{{project.img}}"/>
			</div>
			<div>
				<div class="project-title">{{project.name}}</div>
				<div class="project-tech">
					<div ng-repeat="tech in project.tech"><i class="{{tech}}"></i></div>
				</div>
				<div class="project-describe">{{project.description}}</div>
				<div class="project-button"><div>Site</div><div>Github</div></div>
			</div>
			<hr ng-if="project.name !== 'Shelf.ie'">
		</div>
	</div>
</div>