<div class="first-page">
	<div class="title">
		<div class="intro">
			<span><span class="blue">const</span><span class="green"> greet</span><span class="pink"> = </span>(<span class="orange">name</span>, <span class="orange">title</span>) <span class="blue">=></span> {<br>
				<span class="inner-function"><span class="pink">return</span><span class="yellow"> `Hello World! My name is ${name} and I am</span></span>
				<br>
				<span class="inner-function"><span class="yellow">a ${title}.`</span>;</span>
				<br>};
			</span>
			<span class="typed"></span></div>
		<img src="./asset/macbook.png"/>
	</div>
</div>

<div class="second-page">
<!-- about -->
	<div class="about">
	  <div class="display-pic"><img src="./asset/dp.jpg" /></div>
	  <div class="description">
	    <h2>Hello.</h2>
	    <p>
	    	My name is Nancy and I am a Software Developer at <a href="https://rangle.io">Rangle.io</a>, located in the heart of downtown Toronto. I'm passionate about UI/UX because I believe that a great application starts with a beautiful and user-friendly interface. You will always find me tinkering with something new or contributing to open-source projects!
	    <p>
	  </div>
	  <div class="dot-divider">•••••••</div>
	</div>
<!-- about -->

<!-- skills -->
	<div class="toolbox">
		<div class="toolbox-icon"><img src="./asset/toolbox.png" /></div>
		<h1>Toolbox</h1>
		<div class="skills">
			<div class="skill-name"><div ng-repeat="skill in AboutVm.skills_one">{{skill.name}}</div></div>
			<div class="skill-percentage">
				<div ng-repeat="skill in AboutVm.skills_one" class="total-percentage">
					<div id="{{skill.id}}"></div>
				</div>
			</div>
		</div>

		<div class="skills">
			<div class="skill-name"><div ng-repeat="skill in AboutVm.skills_two">{{skill.name}}</div></div>
			<div class="skill-percentage">
				<div ng-repeat="skill in AboutVm.skills_two" class="total-percentage">
					<div id="{{skill.id}}"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- skills -->